<template name="listBlogs">

    <div class="row wrapper wrapper-content">
        <div class="col-md-2"
             style="background: #FEFEFE">

            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                        <a class="btn btn-block btn-primary compose-mail"
                           href="/blog">Make a New Move</a>

                        <div class="space-25"></div>
                        <h5>Folders</h5>
                        <ul class="folder-list m-b-md"
                            style="padding: 0">
                            <li><a href="#"
                                   class="all"> <i class="fa fa-inbox "></i> All Moves
                            </a></li>
                            <li><a href="#"
                                   class="watchlist"> <i class="fa fa-inbox "></i> Watch List
                                <span class="label label-warning pull-right">{{watchListCount}}</span> </a></li>
                            <li><a href="#"
                                   class="myrecomendations"> <i class="fa fa-file-text-o"></i> My Recomendations
                                <span class="label label-danger pull-right">{{myTradeCount}}</span>
                            </a></li>
                            <li><a href="#"
                                   class="mostliked"> <i class="fa fa-file-text-o"></i> Most Liked
                            </a></li>
                        </ul>
                        <h5>Categories</h5>
                        <ul class="category-list"
                            style="padding: 0">
                            <li><a href="#"> <i class="fa fa-circle text-navy"></i> Intra Day </a></li>
                            <li><a href="#"> <i class="fa fa-circle text-danger"></i>Short Term</a></li>
                            <li><a href="#"> <i class="fa fa-circle text-primary"></i> Medium Term</a></li>
                            <li><a href="#"> <i class="fa fa-circle text-info"></i> Long Term</a></li>
                        </ul>

                        <h5 class="tag-title">Labels</h5>
                        <ul class="tag-list"
                            style="padding: 0">
                            <li><a href=""><i class="fa fa-tag tag-item"></i>Waves</a></li>
                            <li><a href=""><i class="fa fa-tag tag-item"></i> Pitchfork</a></li>
                            <li><a href=""><i class="fa fa-tag tag-item"></i> Moving Average</a></li>

                            <li><a href=""><i class="fa fa-tag tag-item"></i> Fibonocci</a></li>
                            <li><a href=""><i class="fa fa-tag tag-item"></i> Market Profile</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-10 animated fadeInRight"
             style="background: #FEFEFE;background: #FEFEFE;border: 1px solid #e7eaec">

            <div class="mail-box-header">
                <div class="input-group">
                    <h2>
                        {{type}}
                    </h2>
                </div>
<!--                <div class="mail-tools tooltip-demo m-t-md">
                    <div class="btn-group pull-right">
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

                    </div>
                    <button class="btn btn-white btn-sm"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Mark as read"><i class="fa fa-eye"></i></button>
                    <button class="btn btn-white btn-sm"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Mark as important"><i class="fa fa-exclamation"></i></button>
                    <button class="btn btn-white btn-sm"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Move to trash"><i class="fa fa-trash-o"></i></button>

                </div>-->
            </div>

            <div class="col-md-3" style ="height:435px;overflow:scroll">

            {{> posts}}
            </div>
            <div class="col-md-6">
                {{> viewblog}}
            </div>

            <div class="col-md-3" style ="height:435px;overflow:scroll">
            {{> comments}}
            </div>
        </div>
    </div>
</template>