<template name="posts">
    <ul class="list-group elements-list">
        {{#each blogs}}
            <li class="list-group-item">
                <a data-toggle="tab"
                   href="#tab-1"
                   class="selected">
                    <small class="pull-right text-muted" style="margin-top:-13px;margin-right: -13px"> {{timeSince}}</small>
                    <strong>{{username}}</strong>

                    <div class="small m-t-xs">
                        <p>
                            {{title}}
                        </p>

                        <p class="m-b-xs">
                            <span class="label label-primary category {{categoryclass}}" >{{category}}</span>
                        <span class="dropdown">
                            <span class="pull-right dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="fa fa-tags">Tags</span></span>
                            <ul class="dropdown-menu">
                                {{#each tags}}
                                    <li><a href="#">{{name}}</a></li>
                                {{/each}}
                            </ul>
                        </span>


                        </p>


                    </div>
                </a>
            </li>
        {{/each}}
    </ul>

</template>